# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
.env.local
note.txt


###############
# Ansible
###############

/execution-env/context/
/execution-env/ansible.cfg


/*-artifact-*.json